/* .featured {
  width: auto;
  display: flex;
  justify-content: space-around;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

.featuredItem {
  /* flex: 1; */
  width: auto;
  height: auto;
  margin: 0px 0px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  /* background-color: rgb(230, 230, 230); */
  background-color: #c8c7c7;
}

.featuredTitle {
  font-size: 18px;
  /*   margin-left: 20px; */
  font-family: "Varela Round", sans-serif;
}

.featuredMoneyContainer {
  margin: 0px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 20px;
  font-weight: bold;
  /* margin-left: 20px; */
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  /* margin-left: 20px; */
}

.featuredIcon {
  font-size: 14px;
  /*   margin-left: 5px; */
  color: green;
}

.featuredIcon.negative {
  color: rgb(243, 84, 84);
}

.featuredSub {
  font-size: 12px;
  color: gray;
  /*   margin-left: 20px; */
}
