.topbar {
  width: auto;
  height: 55px;
  /*  background-color: rgb(13, 155, 232); */
  /*   background-color: #0b2b52; */
  /* background: linear-gradient(65deg, #0b2b52 40%, white); */
  background: linear-gradient(150deg, #0b2b52 50%, gray 100%);

  /*  box-shadow: 1px 2px 3px rgb(150, 147, 147); */
  /*   position: sticky; */
  /*  */
  top: 0;
  /*  z-index: 9999; */
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}
.topLeft img {
  width: 11%;
  margin-left: 10px;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
