.chart {
  height: 250px;
  width: 50%;
  margin: 10px;
  margin-top: -10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  /* box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); */
  /* box-shadow: 5px 5px 5px rgb(150, 147, 147); */
  box-shadow: 8px 8px 8px rgb(150, 147, 147);
  background-color: #031122;
  border: 1px red solid;
}

.chartTitle {
  margin-bottom: 5px;
  margin-top: -10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
