.initial {
  display: flex;
  flex-direction: column;
  width: auto;
  /*   height: calc(166vh - 50px); */
  height: auto;
  /*   position: absolute;
  z-index: 9999; */
  /*  background-color: rgb(58, 54, 54); */
  /*   opacity: 0.9; */
  /*   margin-left: -50px;
  margin-top: 15px; */
  border: dotted 5px red;
  /*   border-radius: 0.9%; */
}
